<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将asdfasdfasf</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>itemImageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>itemName</key>
		<string>史丹佛</string>
		<key>itemComments</key>
		<string>发神经打飞机啊史蒂芬霍金阿斯蒂芬哈惊世毒妃哈惊世毒妃哈市将淡饭黄齑阿萨德发挥世纪东方是的发生都很费劲阿斯蒂芬哈市将</string>
		<key>itemTime</key>
		<string>08-10</string>
		<key>itemPraiseCount</key>
		<string>221100</string>
		<key>itemCommentsCount</key>
		<string>1123</string>
	</dict>
</array>
</plist>
