<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageUrl</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1547025080643&amp;di=92229d88a1824095553ad7eeb6333d44&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.mp.sohu.com%2Fq_mini%2Cc_zoom%2Cw_640%2Fupload%2F20170729%2Fa50508d5f9234125a11108c2120bd226_th.jpg</string>
		<key>itemTitle</key>
		<string>影视宣发</string>
		<key>itemType</key>
		<string>动作情怀</string>
		<key>itemDetail</key>
		<string>中国大陆/美国/90分钟</string>
		<key>itemTime</key>
		<string>2019-02-05大陆上映</string>
		<key>itemPrefer</key>
		<string>226809人想看</string>
		<key>introduce</key>
		<string>海莉·斯坦菲尔德，美国女演员，歌手。在柯恩兄弟2010年执导的改编电影《大地惊雷》中饰演“Mattie Ross”，并因此获得第83届奥斯卡金像奖最佳女配角奖提名。2016年主演青春片《成长边缘》，饰演叛逆，孤独，渴望被爱的17岁少女Nadine，获得第74届金球奖电影类-音乐/喜剧片最佳女主角提名。Hailee来自洛杉矶，是一位室内设计师和健身私人教练的女儿。她的父亲是犹太人，母亲则是有菲律宾、欧洲、非洲血统的混血儿。</string>
	</dict>
</array>
</plist>
