<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageUrl</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1547025080643&amp;di=92229d88a1824095553ad7eeb6333d44&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.mp.sohu.com%2Fq_mini%2Cc_zoom%2Cw_640%2Fupload%2F20170729%2Fa50508d5f9234125a11108c2120bd226_th.jpg</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>23</integer>
		<key>status</key>
		<string>已开机</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1547025171415&amp;di=08019d8ae958a7fb9345b3a1c52840c5&amp;imgtype=0&amp;src=http%3A%2F%2Fs1.sinaimg.cn%2Flarge%2F006Jciqfzy7pOJScj84a0</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>44</integer>
		<key>status</key>
		<string>已杀青</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1032196274,1238984380&amp;fm=26&amp;gp=0.jpg</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>60</integer>
		<key>status</key>
		<string>已开机</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1547025080643&amp;di=92229d88a1824095553ad7eeb6333d44&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.mp.sohu.com%2Fq_mini%2Cc_zoom%2Cw_640%2Fupload%2F20170729%2Fa50508d5f9234125a11108c2120bd226_th.jpg</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>40</integer>
		<key>status</key>
		<string>已开机</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1032196274,1238984380&amp;fm=26&amp;gp=0.jpg</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>40</integer>
		<key>status</key>
		<string>已开机</string>
	</dict>
</array>
</plist>
