<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>23</integer>
		<key>status</key>
		<string>已开机</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1032196274,1238984380&amp;fm=26&amp;gp=0.jpg</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>44</integer>
		<key>status</key>
		<string>已杀青</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>60</integer>
		<key>status</key>
		<string>已开机</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1032196274,1238984380&amp;fm=26&amp;gp=0.jpg</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>40</integer>
		<key>status</key>
		<string>已开机</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944647360,478205109&amp;fm=26&amp;gp=0.jpg</string>
		<key>movieTitle</key>
		<string>影视宣发</string>
		<key>movieType</key>
		<string>动作情怀</string>
		<key>predictCost</key>
		<string>100万元</string>
		<key>openPrice</key>
		<string>20万元</string>
		<key>isBuy</key>
		<true/>
		<key>isPlay</key>
		<true/>
		<key>New item</key>
		<string></string>
		<key>process</key>
		<integer>40</integer>
		<key>status</key>
		<string>已开机</string>
	</dict>
</array>
</plist>
