<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageUrl</key>
		<string>http://gfs1.gomein.net.cn/T1f.CTByCv1RCvBVdK_160.jpeg?v=20170510</string>
		<key>itemTitle</key>
		<string>影视宣发</string>
		<key>itemType</key>
		<string>动作情怀</string>
		<key>itemCost</key>
		<string>100万元</string>
		<key>itemSaleCount</key>
		<string>20万元</string>
		<key>rewardRate</key>
		<string>90</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://gfs.gomein.net.cn/T1wkbTBQdT1RCvBVdK_160.jpg</string>
		<key>itemTitle</key>
		<string>影视宣发</string>
		<key>itemType</key>
		<string>动作情怀</string>
		<key>itemCost</key>
		<string>100万元</string>
		<key>itemSaleCount</key>
		<string>20万元</string>
		<key>rewardRate</key>
		<string>90</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://gfs.gomein.net.cn/T12oVTB5bT1RCvBVdK_160.jpg</string>
		<key>itemTitle</key>
		<string>影视宣发</string>
		<key>itemType</key>
		<string>动作情怀</string>
		<key>itemCost</key>
		<string>100万元</string>
		<key>itemSaleCount</key>
		<string>20万元</string>
		<key>rewardRate</key>
		<string>90</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://gfs.gomein.net.cn/T1aVbTBCET1RCvBVdK_160.jpg</string>
		<key>itemTitle</key>
		<string>影视宣发</string>
		<key>itemType</key>
		<string>动作情怀</string>
		<key>itemCost</key>
		<string>100万元</string>
		<key>itemSaleCount</key>
		<string>20万元</string>
		<key>rewardRate</key>
		<string>90</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://gfs.gomein.net.cn/T1IkhTBgbv1RCvBVdK_160.jpg</string>
		<key>itemTitle</key>
		<string>影视宣发</string>
		<key>itemType</key>
		<string>动作情怀</string>
		<key>itemCost</key>
		<string>100万元</string>
		<key>itemSaleCount</key>
		<string>20万元</string>
		<key>rewardRate</key>
		<string>90</string>
	</dict>
</array>
</plist>
